/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    max-width: 72%;
    margin: 0 auto;
}


h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    margin: 0;
    padding: 2px;
}

.myNav{
    display: flex;
    justify-content: space-around;
    margin: 3%;
}

nav ul{
display: flex;
}

.myNav a {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 40px;
}

header{
    float: left;
}

img{
    padding: auto;
     margin: auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    padding: 2em;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}


.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#One {
    background-color: teal;
    width: 120px;
    height: 110px;
 }
 
#Two {
     background-color: gold;
     width: 120px;
    height: 110px;
 }
 
 #Three {
     background-attachment: cadetblue;
     width: 120px;
    height: 110px;
 }
 
 #Four {
     background-color: coral;
     width: 120px;
    height: 110px;
 }
 
 #Five {
  background-color: crimson;
  width: 120px;
    height: 110px;
 }
 
 #Six {
     background-color: forestgreen;
     width: 120px;
    height: 110px;
 }
 
 #Seven {
     background-color: darkorchid;
     width: 120px;
    height: 110px;
 }
 
 #Eight {
     background-color: hotpink;
     width: 120px;
    height: 110px;
 }
 
 #Nine {
     background-color: indigo;
     width: 120px;
    height: 110px;
 }
 
 #Ten {
     background-color: dodgerblue;
     width: 120px;
    height: 110px;
 }

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}


footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* about css starts here */

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    max-width: 72%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 18px;
    margin-bottom: 15px;
    padding: 2%;
    font-family: 'Rubik', sans-serif;
}

h1{
    padding: 2px;
    margin: 1%;
}

p {
    line-height: 1.4;
    margin: 2%;
}
.middle-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    padding: 2em;
}

.middle-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

button{
font-size: 15px;
border-radius: 13%;
background-color: white;
color: black;
padding: 5px;
margin: 2px;
}

.final-content {
    margin-top: 20px;
    border-top: 1px dashed black;
}


/* SELF-STUDY QUESTIONS */

/* 1: If you were to describe semantic HTML to the next cohort of students, what would you say?

A: Semantic html is basically html that has meaning. Its put into proper "order", easy to read/ understand, and most of all it has to make sense. */

/* 2: Name two big differences between display: block; and display: inline;. 

A: display: block; content is displayed in a new line and uses the full width available 
display: inline; Always uses the same line never creating a new one and only takes up as much space as it needs. */

/* 3: What are the 4 areas of the box model? 

A: Content, padding, border, margin */

/* 4: While using flexbox, what axis does the following property work on: align-items: center? 

A: Main axis */

/* 5: Explain why git is valuable to a team of developers.

A: Git is valuable to a team of developers because it allows your team to be able to share your code easily, viewing code is easy, making changes is also simple, its very accessible to virtually anyone all you need is to create a Github account! */